.about-us__inner {
  padding-top: 73px;
  padding-bottom: 56px;
}

.about-us__title {
  padding-bottom: 84px;
  margin: 0;

  font-size: 25px;
  line-height: 30px;
}

.about-us__list {
  .ul();
}

.about-us__item {
  padding-bottom: 82px;

  position: relative;

  line-height: 20px;
  &--ecology::before {
    content: "";

    position: absolute;
    top: -54px;
    left: 6px;

    width: 32px;
    height: 37px;

    background-image: url("../img/icon-feature-flower.svg");
  }

  &--price::before {
    content: "";

    position: absolute;
    top: -54px;
    left: 6px;

    width: 47px;
    height: 27px;

    background-image: url("../img/icon-feature-money.svg");
  }

  &--like::before {
    content: "";

    position: absolute;
    top: -54px;
    left: 6px;

    width: 34px;
    height: 27px;

    background-image: url("../img/icon-feature-heart.svg");
  }

  &--knit::before {
    content: "";

    position: absolute;
    top: -54px;
    left: 6px;

    width: 35px;
    height: 34px;

    background-image: url("../img/icon-feature-ball.svg");
  }

  &--manufacturer::before {
    content: "";

    position: absolute;
    top: -54px;
    left: 6px;

    width: 55px;
    height: 23px;

    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--present::before {
    content: "";

    position: absolute;
    top: -54px;
    left: 6px;

    width: 33px;
    height: 32px;

    background-image: url("../img/icon-feature-gift.svg");
  }

}

.about-us__item--present {
  padding-bottom: 0;
}



@media (min-width: @tablet-width) {
  .about-us__inner {
    padding-top: 125px;
    padding-bottom: 0;
  }

  .about-us__title {
    padding-bottom: 100px;

    font-size: 43px;
    line-height: 50px;
  }

  .about-us__common {
    display: flex;
  }

  .about-us__list {
    font-size: 20px;
    line-height: 22px;
  }

  .about-us__top {
    padding-right: 96px;
  }

  .about-us__item {
    padding-bottom: 110px;
  }

  .about-us__item:last-child {
    padding-bottom: 80px;
  }
}

@media (min-width: @desktop-width) {
  .about-us__inner {
    padding-top: 164px;
  }

  .about-us__title {
    margin-left: 175px;
    padding-bottom: 98px;

    font-size: 53px;
    line-height: 57px;
  }

  .about-us__top {
    margin-left: 175px;
    padding-right: 115px;
  }

  .about-us__item:last-child {
    padding-bottom: 88px;
  }
}
