.goods__inner {
  padding-top: 30px;
  padding-bottom: 30px;
}

.goods__list {
  .ul();
}

.goods__item {
  width: 260px;

  border: solid 1px #ececec;
}

.goods__title {
  margin: 0;

  font-size: inherit;
  line-height: inherit;
}

.goods__description {
  font-size: 13px;
  font-weight: normal;
  line-height: 30px;
  color: #444444;
  .p();
}

.price-and-basket {
  display: flex;
}

.price-and-basket__price {
  font-size: 15px;
  line-height: 24px;
  .p();
}

.price-and-basket__basket {
  .btn();
}

@media (min-width: @tablet-width) {
  .goods__item {
    display: flex;
    width: 668px;
  }

  .goods__title {
    font-size: 20px;
    line-height: 24px;
  }

  .goods__description {
    font-size: 15px;
  }

  .price-and-basket__price {
    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .goods__list {
    display: flex;
    flex-wrap: wrap;
  }

  .goods__item {
    display: block;
    width: 315px;
  }
}
