.main-good__inner {
  padding-top: 31px;
}

.main-good__title {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
}

.main-good__week {
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
  .p();
}

.main-good__description {
  width: 249px;

  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  color: #444444;
  .p();
}

.main-good__table {
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  color: #444444;

  border-collapse: collapse;
}

.main-good__string {
  border-bottom: 1px solid #ececec;
}

.main-good__price {
  color: #444444;
  .p();
}

.button {
  display: inline-block;
  width: 100%;

  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #444444;

  border: 2px solid #444444;
}

@media (min-width: @tablet-width) {
  .main-good__inner {
    position: relative;
  }

  .main-good__header {
    display: flex;
    padding-bottom: 45px;
  }

  .main-good__title {
    font-size: 43px;
    line-height: 50px;
  }

  .main-good__week {
    font-size: 17px;
    line-height: 17px;
  }

  .main-good__description {
    width: 283px;
    padding-bottom: 44px;

    font-size: 17px;
    line-height: 30px;
  }

  .main-good__image {
    position: absolute;

    width: 333px;
    height: 404px;

    top: 130px;
    left: 384px;
  }

  .main-good__price {
    padding-top: 54px;
    padding-bottom: 32px;

    font-size: 20px;
    line-height: 24px;
  }

  .main-good__order {
    width: 290px;
  }
}

@media (min-width: @desktop-width) {
  .main-good__title {
    order: 1;

    font-size: 53px;
    line-height: 57px;
  }
}
