.promo {
  background-color: @light-gray;
}

.promo__inner {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center 0;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi),
    (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
}

.promo__title {
  width: 260px;
  margin: 0 auto;
  padding-top: 87px;
  padding-bottom: 119px;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.menu-list {
  width: auto;

  position: relative;

  .ul();
}

.menu-list__item {
  width: 320px;
  margin: 0 auto;
}

.menu-list__link {
  display: block;
  padding-right: 154px;
  padding-top: 27px;
  padding-bottom: 27px;

  position: relative;

  font-size: 19px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.menu-list__item:hover {
  transform: translateY(-5px);
}

.menu-list__item--interior .menu-list__link {
  background-color: #63d1bb;

  &:hover {
    background-color: #59d5bc;
  }
}

.menu-list__interior-icon {
  position: absolute;
  top: 23px;
  right: 36px;

  width: 40px;
  height: 62px;

  fill: #149080;
  opacity: 0.5;
}

.menu-list__item--toys {
  background-color: #56c3b2;

  &:hover {
    background-color: #46c1ae;
  }
}

.menu-list__toys-icon {
  position: absolute;
  top: 23px;
  right: 27px;

  width: 60px;
  height: 60px;

  fill: #149080;
  opacity: 0.2;
}

@media (min-width: @tablet-width) {
  .promo {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      bottom: -13px;
      left: 0;

      width: 100%;
      height: 24px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-color: initial;
      background-size: 100% 24px;
    }
  }

  .promo__inner {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: center 0;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi),
      (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .promo__title {
    width: auto;
    margin: 0 auto;
    padding-top: 155px;
    padding-bottom: 371px;

    font-size: 43px;
    line-height: 50px;
  }

  .promo__menu {
    display: flex;
    width: 668px;
    margin: 0 auto;
    padding: 0;
  }

  .menu-list__item {
    width: 334px;
  }

  .menu-list__link {
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 36px;

    font-size: 20px;
    line-height: 30px;
    text-align: start;
  }
}

@media (min-width: @desktop-width) {
  .promo::after {
    height: 34px;

    bottom: -16px;

    background-size: auto 34px;
    background-repeat: repeat-x;
  }

  .promo__title {
    width: 630px;
    padding-top: 112px;
    padding-bottom: 354px;

    font-size: 53px;
    line-height: 57px;
  }

  .menu-list {
    width: 1050px;
    padding: 0;
    margin: 0 auto;
  }

  .menu-list__item {
    width: 525px;
  }

  .menu-list__interior-icon {
    right: 36px;
  }

  .menu-list__toys-icon {
    right: 36px;
  }
}
