.promo__title-index {
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-position: 50% 50%;
}

.promo__title {
  margin: 0;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.promo__title-inner {
  background-color: #f1f1f1;
}

.promo__menu {
  padding: 0;
  list-style: none;
}

.menu-list__item {
  font-size: 19px;
  line-height: 24px;
}

.menu-list__link {
  color: #ffffff;
}

.menu-list__item:nth-child(1) {
  background-color: #63d1bb;
}

.menu-list__item:nth-child(2) {
  background-color: #56c3b2;
}

@media (min-width: @tablet-width) {
  .promo__title {
    font-size: 43px;
    line-height: 50px;
  }

  .promo__menu {
    display: flex;
    padding: 0 50px;

    background-color: #fafafa;
  }

  .menu-list__item {
    font-size: 20px;
    line-height: 30px;
  }
}
